html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

li {
  cursor: pointer;
}

li.gray {
  background-color: rgb(226, 226, 226);
}

li.checked {
  text-decoration: line-through;
}

li:hover {
  cursor: pointer;
  background-color: rgb(134, 134, 134);
  color: white;
  padding: 10px 15px;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 5px;
  transform: translate(0%, -50%);
  z-index: 1;
}

.close:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}
